@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Smooch+Sans:wght@200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald'
}


.header{
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: block;
    background-color:white;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color:white;
}
.logo_container{
    position: absolute;
    float:left;
    top: 30px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #333;
    color: #fff;
    padding: 0 40px;
    border-radius: 20px;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
}

section{
    padding: 100px;
    min-height: 100vh;
}

.banner{
    position: relative;
    width: 100%;
}


.banner .contentBx, .sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 20px;
}

.banner .contentBx h4{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}

.banner .contentBx h4 span{
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2{
    font-size: 3em;
    color: black;
    line-height: 1em;
}

p{
    font-size: 1.12m;
    margin: 20px 0;
    font-weight: 300;
}
